.divLT {
    background-color: lightseagreen;
    height: 150px;
    width: 150px;
    position: absolute;
    margin-left: 40%;
    margin-top: 25%;
    z-index: 1;
}

.parent:hover .divLT {
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 50%;
    transition-duration: 5s;
}

.divLB {
    background-color: lightcoral;
    height: 150px;
    width: 150px;
    position: absolute;
    margin-left: 40%;
    margin-top: 25%;
    z-index: 2;
}

.parent:hover .divLB {
    margin-top: 38%;
    margin-left: 0%;
    border-radius: 50%;
    transition-duration: 5s
}

.divRT {
    background-color: lightpink;
    height: 150px;
    width: 150px;
    position: absolute;
    margin-left: 40%;
    margin-top: 25%;
    z-index: 3;
}

.parent:hover .divRT {
    margin-top: 0%;
    margin-left: 90%;
    border-radius: 50%;
    transition-duration: 5s
}

.divRB {
    background-color: lightblue;
    height: 150px;
    width: 150px;
    position: absolute;
    margin-left: 40%;
    margin-top: 25%;
    z-index: 4;
}

.parent:hover .divRB {
    margin-left: 88%;
    margin-top: 38%;
    border-radius: 50%;
    transition-duration: 5s
}

.parent .div {
    height: 150px;
    width: 150px;
    background-color: white;
    position: absolute;
    margin-left: 40%;
    margin-top: 25%;
}