body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@keyframes rotateToLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateToRight {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

div {
    position: absolute;
    border-radius: 50%;
    animation-duration: 3s;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

.l1 {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    margin: auto;
}

.l2 {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 20px;
    height: 2px;
    background-color: royalblue;
    margin: auto;
}

#c6 {
    width: 600px;
    height: 600px;
    background-color: red;
    border: 2px solid black;
    animation: rotateToLeft 5s linear infinite;
}

#c5 {
    width: 500px;
    height: 500px;
    background-color: orange;
    border: 2px solid black;
    animation: rotateToRight 5s linear infinite;
}

#c4 {
    width: 400px;
    height: 400px;
    background-color: yellow;
    border: 2px solid black;
    animation: rotateToLeft 5s linear infinite;
}

#c3 {
    width: 300px;
    height: 300px;
    background-color: green;
    border: 2px solid black;
    animation: rotateToRight 5s linear infinite;
}

#c2 {
    width: 200px;
    height: 200px;
    background-color: turquoise;
    border: 2px solid black;
    animation: rotateToLeft 5s linear infinite;
}

#c1 {
    width: 100px;
    height: 100px;
    background-color: purple;
    border: 2px solid black;
    animation: rotateToRight 5s linear infinite;
}