body {
    background-color: #f9d9f9;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #c59dcf;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #fff;
    margin: 0;
}

p {
    text-align: center;
    color: #8e26a5;
    margin: 0;
}
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons-container button {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

#confirm-delete {
    background-color: #61366d;
    color: #fff;
}

#cancel-delete {
    background-color: #797477;
    color: #fff;
}

.buttons-container button:hover {
    opacity: 0.8;
    border-radius: 50px;
    transition: 0.3s;
}

.success-title {
    color: #9fe4a1;
}

.success-text {
    color: #457447;
}

.error-title {
    color: #ff938b;
}

.error-text {
    color: #7f3731;
}

.cancel-title {
    color: #f0c4eb;
}

.cancel-text {
    color: #4d2f4a;
}
